/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
:root {
  --shade0: #FDF6E3;
  --shade1: #EEE8D5;
  --shade2: #93A1A1;
  --shade3: #839496;
  --shade4: #657B83;
  --shade5: #586E75;
  --shade6: #073642;
  --shade7: #002B36;
  --accent0: #DC322F;
  --accent1: #CB4B16;
  --accent2: #B58900;
  --accent3: #859900;
  --accent4: #2AA198;
  --accent5: #268BD2;
  --accent6: #6C71C4;
  --accent7: #D33682;}

* {
  box-sizing: border-box;
}

body {
  color: var(--shade1);
  // background: url('../img/lt-bg.png');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  background-color: var(--shade6);
  font-size: 1.05rem;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 2rem;
}

.header--title {
 padding-left: 4rem;
}

main {
  max-width: 1050px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0;
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  color:var(--accent7);
}

h2 {
  padding-bottom: .5rem;
  font-size: 5rem;
  color:var(--accent6);
}

h3 {
  font-size: 3.5rem;
  color:var(--accent5);
}

h4 {
  font-size: 2.75rem;
  color:var(--accent4);
}

h5 {
  font-size: 2rem;
  color:var(--accent3);
}

h6 {
  font-size: 2rem;
  color:var(--accent2);
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: var(--accent1);
  text-shadow: none;
  font-size: 1.25rem;
  margin: 0 .5rem;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  text-decoration: underline;
  color: var(--accent2);
}


em, cite {
  font-style: italic;
}

strong {
  font-weight: bold;
}



pre, code {
  color: var(--accent4);
  background-color: var(--shade7);

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.875em;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 10px;
  box-shadow: 0 0 10px var(--shade2);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px var(--shade5);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: var(--shade1);
  margin-bottom: .5rem;
  padding: 0 0 0 .75rem;
  border-left: .25rem solid var(--accent4);
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
 
}

table {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
  padding: .5rem;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: .5rem;
  color: var(--accent0);
 }

td {
  padding: .75rem;

 }

form {
  background: var(--shade6);
  padding: 20px;
}

// ! classes
// ! =======================================================




// ! breakpoints 1050, 
// ! =======================================================
@media screen and (max-width: 1050px) {
  body {
    padding: .75rem;
  }
  .header--title {
    padding-left: 0;
   }
   h1, h2 {
     font-size: 3rem;
   }
   h3, h4, h5, h6 {
     font-size: 1.25rem;
   }

}