<style>
  .about {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about--img-wrapper {
      width: 100%;
      max-width: 500px;
  }
  
  .about--img {
      width: 100%;
      height: auto;
  }

  .about--content {
        margin: .5rem;
  }
  @media screen and (max-width: 1050px) {
      .about {
          flex-direction: column;
      }
  }
</style>

{% include header.html %}

<section class="about">
  <figure class="about--img-wrapper">
      <img class="about--img" src="{{ page.img }}" alt="profile photo" />
  </figure>
  <div class="about--content">
      <h5>{{ page.greeting }}</h5>
      {% for snippet in page.snippets %}
      <blockquote>{{ snippet }}</blockquote>
      {% endfor %}
    </div>
</section>

{% include footer.html %}
