<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <h4>
          <!-- add blinking animation via keyframes -->
        phillip-d-shields.github.io{{ page.permalink }}<span class="blinking">_</span>
      </h4>
      <a href="/">home</a>
      <a href="/about/">about</a>
      <a href="/gallery/">gallery</a>
      <a href="/connect/">connect</a>
    </nav>
    <main>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
    <footer>&copy; pds2021</footer>
  </body>
</html>
