<style>
  section {
    width: 100%;
    border-radius: .25rem;
    overflow: hidden;
  }

  .card {
    padding: 1rem;
    background-color: var(--shade7);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card--img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .card div {
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
  }

  @media screen and (max-width: 1050px) {
      section {
          width: 100%;
      }
      .card {
          padding: .25rem;
          flex-direction: column;
          justify-content: start;
      }
      .card div {
          padding: .25rem;
          text-align: center;
      }
  }
</style>

{% include header.html %}
<section>
  {% for image in page.images %}
  <figure class="card">
    <img class="card--img" src="{{ image.url }}" alt="{{ image.caption }}" />
    <div>
      <h4>{{ image.caption }}</h4>
      <h5>{{ image.details }}</h5>
    </div>
  </figure>
  {% endfor %}
</section>
{% include footer.html %}
